{
  "dev": {
    "REACT_APP_ED_API_URL": "http://localhost:8080",
    "REACT_APP_ENVIRONMENT": "DEV"
  },
  "qa": {
    "REACT_APP_ED_API_URL": "http://localhost:8080",
    "REACT_APP_ENVIRONMENT": "QA"
  },
  "prod": {
    "REACT_APP_ED_API_URL": "http://localhost:8080",
    "REACT_APP_ENVIRONMENT": "PROD"
  }
}
